/* Validate css */

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

.form-control.ng-touched.ng-valid {
    border: 1px solid green;
}

.form-control.ng-pending {
    border: 1px solid #ff9415;
    border-right: 5px solid #ff9415;
    box-shadow: 0 0 0 0.2 rem rgba(255, 127, 2, 25);
}

.isExist {
    border: 1px solid red !important;
}

p {
    margin: 0px;
}


/* End Validate css */