.opacity-80,
.no-shadow.transparent.btn:hover i,
.ui-datepicker-current.ui-priority-secondary {
    opacity: .80 !important;
    -moz-opacity: .80 !important;
}

.table,
.label-white,
.bg-white {
    background: #fff;
}

.ui-widget-overlay {
    position: fixed !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 2000;
}

.ui-widget-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
}
