<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-lg btn-add" data-toggle="modal" data-target="#exampleModal" (click)="modalAdd()">
  Add Role
</button>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col ">Index</th>
            <th scope="col ">Role Name</th>
            <th scope="col ">Description </th>
            <th scope="col " style="text-align:center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of roles ">
            <td>{{item.Index}}</td>
            <td>{{item.Role}}</td>
            <td>{{item.Description}}</td>
            <td class="" style="text-align:center;">
                <button class="btn btn-primary me-2 mb-1 btn-edit" (click)="modalEdit(item.Id)" data-toggle="modal" data-target="#exampleModal">Edit </button>
                <!-- <button class="btn btn-danger me-2 mb-1" (click)="delete(item)"> Delete </button> -->
            </td>
        </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTile}}</h5>
                <button type="button" (click)="modalClose()" class="close" data-dismiss="modal" aria-label="Close" id="add-edit-modal-close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <app-add-edit-role (onLoaded)="loaderHanler($event)" [RoleDataInp]="role" *ngIf="isActiveAddEditRoleComp"></app-add-edit-role>
            </div>

        </div>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>