.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    display: inline-flex;
}

.popup {
    top: 40%;
    left: 50%;
    position: fixed;
    z-index: 999;
}

.contentPopup {
    display: inline-flex;
    align-items: center;
    background-color: lightgray;
    padding: 0.8rem;
    border-radius: 0.5rem;
    min-width: 250px;
    min-height: 90px;
}

.overlaypopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.5;
    background-color: black;
}

.dlgHide {
    display: none;
}

.tx-popup {
    align-self: center;
    padding-left: 0.5rem;
    font-size: 11pt;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
